// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

workspace "1terminal"

// Terminal applications - open in workspace 1
window-rule {
    match app-id="kitty"
    open-on-workspace "1terminal"
    open-maximized true
    draw-border-with-background false
}
window-rule {
    match app-id="kitty-half"
    default-column-width { proportion 0.5; }
    open-on-workspace "1terminal"
    open-maximized false
}
